{% extends "network/layout.html" %}

{% block body %}
    <div id='main_post'>
        <a href="{% url 'user_profile' main_post.author.username %}">
            <h4><b>{{ main_post.author.first_name }} {{ main_post.author.last_name }}</b></h4>
        </a>
        @{{ main_post.author.username }} <br>
        <div id='main_post_content'>{{ main_post.content }}</div>
        <br>
        {{ main_post.time }} 
        <br><br>
        <div id='main_buttons'>
            {% if user in main_post.liked_by.all %}
            <img src="http://clipart-library.com/images_k/heart-icon-transparent-background/heart-icon-transparent-background-8.png" class='heart_icon' data-post_id="{{ main_post.id }}" data-liked='true'>
            {% else %}
            <img src="http://clipart-library.com/images_k/heart-icon-transparent-background/heart-icon-transparent-background-8.png" class='heart_icon' data-post_id="{{ main_post.id }}" data-liked='false'>
            {% endif %}
            <span id='like_count{{ main_post.id }}'>{{ main_post.likes }}</span>
            <img src="https://icons-for-free.com/iconfiles/png/512/comment-131965017416332557.png" class='reply_icon' data-post_id="{{ main_post.id }}">
            <span id='reply_count{{ main_post.id }}'>{{ main_post.replies.count }}</span>
        </div>
    </div>

    <div id='post_view'>
        {% for post in comments %}
        <div class='post'>
            <a href="{% url 'user_profile' post.author.username %}">
                <b class='post_name'>{{ post.author.first_name }} {{ post.author.last_name }}</b>
            </a> @{{ post.author.username }} • {{ post.time }} 
            {% if post.author.username == user.username %}
            <button class='edit_button' data-post_id='{{ post.id }}'>Edit</button>
            {% endif %}
            <p  id='post_content{{ post.id }}'>{{ post.content }}</p> 
            <div>
                {% if user in post.liked_by.all %}
                <img src="http://clipart-library.com/images_k/heart-icon-transparent-background/heart-icon-transparent-background-8.png" class='heart_icon' data-post_id="{{ post.id }}" data-liked='true'>
                {% else %}
                <img src="http://clipart-library.com/images_k/heart-icon-transparent-background/heart-icon-transparent-background-8.png" class='heart_icon' data-post_id="{{ post.id }}" data-liked='false'>
                {% endif %}
                <span id='like_count{{ post.id }}'>{{ post.likes }}</span>
                <img src="https://icons-for-free.com/iconfiles/png/512/comment-131965017416332557.png" class='reply_icon' data-post_id="{{ post.id }}">
                <span id='reply_count{{ post.id }}'>{{ post.replies.count }}</span>
            </div> 
        </div>
        {% endfor %}
    </div>

{% endblock %}